.home
  v-row(justify="center", align-content="center", style="height: calc(100vh - 200px);")
    v-col(cols=12)
      .display-1 Hello Vue
    v-col(cols=12)
      v-icon mdi-plus
      v-icon mdi-mouse
